<%= simple_form_for(@tweeet) do |f| %>
<%= f.error_notification %>
<div class="field">
  <div class="control">
  <%= f.input :tweeet, label: "Tweet about it", input_html: { class: "textarea"}, wrapper: false,
  label_html: { class: "label is-size-2 is-size-4-desktop"}, placeholder: "Compose a new tweeet..." %>
  </div>
</div>
<%= f.button :submit, class: " is-size-2 is-size-4-desktop button is-info" %>
<% end %>