<div class="column is-full-mobile  is-one-quarter-desktop ">
    <nav class="panel">
        <p class="panel-heading is-size-1 is-size-3-desktop">Trends</p>
        <a href="" class="panel-block is-size-2 is-size-4-desktop">Trends 1</a>
        <a href="" class="panel-block is-size-2 is-size-4-desktop">Trends 2</a>
        <a href="" class="panel-block is-size-2 is-size-4-desktop">Trends 3</a>
        <a href="" class="panel-block is-size-2 is-size-4-desktop">Trends 4</a>
        <a href="" class="panel-block is-size-2 is-size-4-desktop">Trends 5</a>
    </nav>
</div>