<div class="column">
    <nav class="panel">
        <p class="panel-heading is-size-2 is-size-4-desktop">Who to Follow</p>
        <% @users.each do |user| %>
        <div class="panel-block">
            <article class="media">
                <div class="media-left">
                    <figure class="image is-32x32">
                    <%= gravatar_image_tag(user.email, size: 64, alt: user.name)  %>
                    </figure>
                </div>
                <div class="media-content">
                    <div class="content is-size-2 is-size-4-desktop">
                    <p>
                     <strong>   <%= user.name %> </strong> 
                        <small>@<%= user.username  %></small>
                    </p>
                    </div>
                </div>
            </article>
        </div>
                <% end %>
    </nav>

</div>